html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin: 0 0 100px;
  background: #38383c;
}

#custom-navbar-style{
  background: #212121;
  border-bottom: 0.1em solid #ff9100;
}

/*  NAVIGATION BAR
---------------------------------------*/

#nav-logo {
  color: white;
  font-family: 'Knewave', cursive;
  font-size: 1.7em;
  transition: all 0.4s;
}#nav-logo:hover {
  color: #ff9100;
  font-size: 1.9em;
}

.custom-nav-style {
  font-family: 'Knewave', cursive;
  color: white;
  font-size: 1.5em;
}

.nav>li>a:hover {
  background-color: #151515;
  color: #ff9100;
}
.nav>li>a:focus {
  color: white;
  background-color: #212121;
}

#collapse-button-style {
  border: 1px solid #ff9100;
}#collapse-button-style:active {
  background: #ff9100;
}

.custom-icon-style {
  background: white;
}

/*  MAIN CONTAINER / SECTION
---------------------------------------*/

#custom-container {
  margin: 0px 10%;
}

#main-section {
  color: white;
  background: #212121;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
  font-size: 17px;
  border: 0.1em solid #ff9100;
}

#about-me, #contact-me, #portfolio-header {
  font-family: 'Knewave', cursive;
}

/*  ABOUT SECTION
---------------------------------------*/
#profile-wrapper {
  width: 50%;
}

#profile-pic {
  background-image: url('../images/profile_image.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 10%;
  float: left;
  margin: 0.9em 0.9em 0.9em 0;
}

.about-paragraph {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/*  CONTACT SECTION
---------------------------------------*/

.contact-row {
  font-size: 1em;
  font-family: 'Knewave', cursive;
  margin: 0.1em 0 0.1em;
}

.input {
  width: 100%;
  background: #38383c;
  border-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}.input:focus {
    outline: none !important;
    border:1px solid #ff9100;
}

#submit-btn {
  color: #212121;
  background: white;
  border-radius: 10px;
  border-color: white;
  border-style: none;
  font-size: 1.5em;
  padding:5px 8px;
  font-family: 'Knewave', cursive;
  transition: all 0.4s;
} #submit-btn:hover {
  background-color: #ff9100;
}

/*  PORTFOLIO SECTION
---------------------------------------*/

.portfolio-entry {
  border-radius: 10px;
  height: 175px;
  margin: 1em;
}

.portfolio-banner {
  width: auto;
  height: 65%;
  background: #6e6d6d;
  border: 0.1em solid #ff9100;
  border-radius: 10px 10px 0 0;
}

.portfolio-info-box {
  width: auto;
  height: 35%;
  background: #ff9100;
  border: 0.1em solid #ff9100;
  border-radius: 0 0 10px 10px;
  font-family: 'Knewave', cursive;
  font-size: 1.4em;
  color: #212121;
  transition: all 1s;
}

.portfolio-entry-title {
  margin: 0;
  padding: 0.4em 0 0 0;
  text-align: center;
}

.portfolio-link >
.portfolio-entry >
.portfolio-info-box:hover,
.portfolio-link >
.portfolio-entry >
.portfolio-info-box >
.portfolio-entry-title:hover {
    color: white;
}

/*  SOCIAL MEDIA CONTAINER AND BUTTONS
---------------------------------------*/

#social-media-container {
  color: white;
  background:#212121;
  border-radius 10px;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  border: 0.1em solid #ff9100;
  text-align: center;
}

#social-media-title {
  font-size: 1.3em;
  font-family: 'Knewave', cursive;
  margin: 0;
}

.social-btn {
  font-size: 3em;
  margin: 10px;
}

.social-anchor {
    color: white;
    transition: all 0.4s;
}.social-anchor:hover {
  color: #ff9100;
}

/*  FOOTER
---------------------------------------*/

footer {
  text-align: center;
  background: #212121;
  color: white;
  padding: 20px 0 20px;
  border-top: 0.5em solid #ff9100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#copyright {
  font-size: 1em;
  font-family: 'Knewave', cursive;
}
